# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.env
my-manus-vue
*.iml
out
gen
target
*.class
node_modules

*.log
.settings
.project
logs
job

templates
